@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.cdnfonts.com/css/sofia-pro');

body{
  width: 100vw;
}
.font-logo{ 
    font-family: "Sacramento", serif;
    font-weight: 400;
    font-style: normal;   
}

.nav-link{
    text-shadow: -1px -1px 0 #30343f, 1px -1px 0 #30343f, -1px 1px 0 #30343f, 1px 1px 0 #30343f;
    color: #FAFAFF;
}

.skillContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    min-height: 50px;
}

.skill{
    display: flex;               
    justify-content: center;   
    align-items: center; 
    padding: 1rem;
    color: black;
    border-radius: 50px;
    list-style: none;
    background-color: white;
    font-size: 14px;
    height: 21px;
    border:2px solid #E0E0E0;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 50% 50%; 
    height: 100vh; 
   
  }
  
 
  .box-1 {
    grid-row: span 2; 
    grid-column: 1; 
    background-color: white; 
  }
  
  
  .box-2 {
    grid-row: 1; 
    grid-column: 2; 
    display: grid; 
    grid-template-columns: 50% 50%; 
    background-color:#E0E0E0; 
  }
  
  
  .box-3 {
    grid-row: 2; 
    grid-column: 2; 
    background-color: #dfdfdf; 
    position: relative; 
  width: 100%; 
  height: 348px;
  }
  
  
  .box-2 .inner-box {
    background-color:#e9e7ea; 
    padding: 20px;
  }
  
  .box-2 .main-box {
    background-color: #dfdfdf; 
    padding: 20px;
  }
 
  .font-heading{
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 2.5rem;
                                           
  }

  .big-heading{
    font-size: 100px;
    line-height: 6rem;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 500;
  }

  .big-heading-hero{
    font-size: 60px;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 700;
  }

  .heading-about, .project-heading{
    font-size:60px;
    line-height: 4rem;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 500;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .font-paragraph{
    font-family: 'Sofia Pro', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
  }

  .font-paragraph-about{
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
  }

  .font-text{
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }

  .font-button{
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
  }

  /* .outline-text {
    font-family: 'Sofia Pro', sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px black; 
    font-size: 60px;
   
  } */
.clip-path-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(37,54, 79);  
  opacity: 0;
  transition: opacity 0.3s ease;
}

.button{
  background-color: white;
    padding: 15px 40px;
    margin: 20px;
    width: auto;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
   
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start- och slutposition */
  }
  50% {
    transform: translateY(-10px); /* Pilen rör sig uppåt */
  }
}

.bounce {
  display: inline-block; /* För säker positionering */
  animation: bounce 0.8s ease infinite; /* Animeringsegenskaper */
}

@media screen and (min-width: 1024px) {
  .heading-about, .project-heading {
    font-size: 100px;
    line-height: 6rem;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 500;
  }
}
